
name: build-release-latest
on:
  push:
    tags-ignore: 'v*'
    branches: '**'

env:
  docker_user: henriwahl
  docker_repo: dhcpy6d
  docker_tag: latest

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pwd
      - run: ls -l
      - run: /usr/bin/docker build -t ${{ docker_user }}/${{ docker_repo }}:${{ docker_tag }}
      
