
name: build-release-stable
on:
  push:
    tags: 'v*'

env:
  repo: dhcpy6d
  tag: ${{ env.GITHUB_REF }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - uses: docker/setup-buildx-action@v1
      - uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.repo }}:${{ env.tag }}
      - run: echo ${{ steps.docker_build.outputs.digest }}


